<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Medicina Site 05</title>

	<link rel="stylesheet" type="text/css" href="css/websites-goias.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	<link rel="stylesheet" type="text/css" href="custom.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/websites-goias.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/efeitos.js"></script>
</head>
	<body>

		<header class="wsg-header wsg-header_horizontal">

			<div class="wsg-header_top">
				<div class="wsg-container">
					<div class="wsg-flex">

						<div class="wsg-contato">
							<a href="" target="_blank" class="flaticon-mail-2">Exemplo@gmail.com</a>
							<a href="" target="_blank" class="flaticon-phone-2">+55 (62) 9999 9999</a>
						</div>

						<ul class="wsg-mideas-sociais wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
							<li><a href="" target="_blank" class="flaticon-whatsapp"></a></li>
							<li><a href="" target="_blank" class="flaticon-google-plus"></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="wsg-header_bottom">
				<div class="wsg-container">
					<div class="wsg-flex">
						<a href="index.html" class="wsg-logo">
							<figure>
								<img src="img/logo.png" alt="" title="">
							</figure>
						</a>

						<div class="wsg-btn_menu">
							<hr>
							<hr>
							<hr>
						</div>
						<nav class="wsg-menu_principal">
							<ul class="wsg-lista-inline">
								<li><a href="index.html"><span>home</span> <span>home</span></a></li>
								<li><a href="empresa.html"><span>empresa</span> <span>empresa</span></a></li>
								<li><a href="servicos.html"><span>serviços</span> <span>serviços</span></a></li>
								<li><a href="blog.html"><span>blog</span> <span>blog</span></a></li>
								<li><a href="contato.html"><span>contato</span> <span>contato</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

		</header>

		<section class="wsg-banner">
			<div class="wsg-banner_item">
				<figure>
					<img src="img/banner.jpg" alt="" title="">
				</figure>
				<div class="wsg-banner_conteudo">
					<div class="wsg-container">
						<h2>habilidade para curar</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta numquam, sunt officia cum commodi.</p>
						<ul>
							<li>Tecnologia avançada</li>
							<li>Pessoal super qualificado</li>
						</ul>
						<a href="" class="wsg-btn wsg-btn_estilo-1"><span>Saiba mais</span><span class="flaticon-next"></span></a>
					</div>
				</div>
			</div>	
			<div class="wsg-banner_item">
				<figure>
					<img src="img/banner.jpg" alt="" title="">
				</figure>
				<div class="wsg-banner_conteudo">
					<div class="wsg-container">
						<h2>habilidade para curar</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta numquam, sunt officia cum commodi.</p>
						<ul>
							<li>Tecnologia avançada</li>
							<li>Pessoal super qualificado</li>
						</ul>
						<a href="" class="wsg-btn wsg-btn_estilo-1"><span>Saiba mais</span><span class="flaticon-next"></span></a>
					</div>
				</div>
			</div>	
			<div class="wsg-banner_item">
				<figure>
					<img src="img/banner.jpg" alt="" title="">
				</figure>
				<div class="wsg-banner_conteudo">
					<div class="wsg-container">
						<h2>habilidade para curar</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta numquam, sunt officia cum commodi.</p>
						<ul>
							<li>Tecnologia avançada</li>
							<li>Pessoal super qualificado</li>
						</ul>
						<a href="" class="wsg-btn wsg-btn_estilo-1"><span>Saiba mais</span><span class="flaticon-next"></span></a>
					</div>
				</div>
			</div>	
		</section>

		<section class="wsg-01">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_4f wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-4f wsg-box_tl-4f">
						<div class="wsg-destaque_box">
							<div>
								<span><img src="img/signs.png" alt="" title=""></span>
								<h3>Atenção Primária</h3>
								<p>Cure é o tema médico mais avançado e fácil de usar já construído.</p>
								<a href="servicos.html" class="wsg-btn wsg-btn_estilo-2 wsg-btn_larg-menor"><span>Veja Mais</span><span class="flaticon-next"></span></a>
							</div>
						</div>
					</div>
					<div class="wsg-box_4f wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-4f wsg-box_tl-4f">
						<div class="wsg-destaque_box">
							<div>
								<span><img src="img/medical.png" alt="" title=""></span>
								<h3>Ferramentas avançadas</h3>
								<p>Nossos serviços médicos fornecem assistência médica</p>
								<a href="servicos.html" class="wsg-btn wsg-btn_estilo-2 wsg-btn_larg-menor"><span>Veja Mais</span><span class="flaticon-next"></span></a>
							</div>
						</div>
					</div>
					<div class="wsg-box_4f wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-4f wsg-box_tl-4f">
						<div class="wsg-destaque_box">
							<div>
								<span><img src="img/technology.png" alt="" title=""></span>
								<h3>Compromisso on-line</h3>
								<p>Sinta-se à vontade para trazer um amigo ou membro da família.</p>
								<a href="servicos.html" class="wsg-btn wsg-btn_estilo-2 wsg-btn_larg-menor"><span>Veja Mais</span><span class="flaticon-next"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="wsg-02">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<h2 class="wsg-titulo_2">Pioneirismo em Saúde.</h2>
						<p>Construindo um ambiente saudável que apóia o desenvolvimento para a comunidade e para as pessoas.</p>

						<ul>
							<li>Medicina de rotina e médica e medicina de viagem.</li>
							<li>Excelência em saúde. Todo dia.</li>
							<li>Construindo um ambiente médico saudável.</li>
							<li>Uma tradição de excelência no ensino de enfermagem.</li>
						</ul>
					</div>
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<figure>
							<img src="img/wsg-02.jpg" alt="" title="">
						</figure>
					</div>
				</div>
			</div>
		</section>


		<section class="wsg-03">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-6">
						<h2>175</h2>
						<p>Anos de experiência</p>
					</div>
					<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-6">
						<h2>405</h2>
						<p>Centros de Saúde</p>
					</div>
					<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-6">
						<h2>303</h2>
						<p>Médicos e pessoal</p>
					</div>
					<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-6">
						<h2>730</h2>
						<p>Artigos acadêmicos</p>
					</div>
				</div>
			</div>
		</section>


		<section class="wsg-04">
			<div class="wsg-container">
				<div class="wsg-cto">
					<h2 class="wsg-titulo_1">Departamentos</h2>
				</div>
				<div class="wsg-04-carousel">

					<div class="wsg-04_carousel-item">
						<div class="wsg-04_box">
							<figure>
								<img src="img/wsg-04.jpg" alt="" title="">
								<figcaption>
									<div class="wsg-04_conteudo">
										<div class="wsg-flex">
											<span><img src="img/tooth.png" alt="" title=""></span>
											<h3>Implante Dental</h3>
										</div>
										<p>Paciente é uma informação obtida por um médico, fazendo perguntas específicas, seja do paciente.</p>
										<a href="" class="wsg-link">Veja Mais <span class="flaticon-next"></span></a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>

					<div class="wsg-04_carousel-item">
						<div class="wsg-04_box">
							<figure>
								<img src="img/wsg-04.jpg" alt="" title="">
								<figcaption>
									<div class="wsg-04_conteudo">
										<div class="wsg-flex">
											<span><img src="img/people.png" alt="" title=""></span>
											<h3>Implante Dental</h3>
										</div>
										<p>Paciente é uma informação obtida por um médico, fazendo perguntas específicas, seja do paciente.</p>
										<a href="" class="wsg-link">Veja Mais <span class="flaticon-next"></span></a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>

					<div class="wsg-04_carousel-item">
						<div class="wsg-04_box">
							<figure>
								<img src="img/wsg-04.jpg" alt="" title="">
								<figcaption>
									<div class="wsg-04_conteudo">
										<div class="wsg-flex">
											<span><img src="img/button.png" alt="" title=""></span>
											<h3>Implante Dental</h3>
										</div>
										<p>Paciente é uma informação obtida por um médico, fazendo perguntas específicas, seja do paciente.</p>
										<a href="" class="wsg-link">Veja Mais <span class="flaticon-next"></span></a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>

					<div class="wsg-04_carousel-item">
						<div class="wsg-04_box">
							<figure>
								<img src="img/wsg-04.jpg" alt="" title="">
								<figcaption>
									<div class="wsg-04_conteudo">
										<div class="wsg-flex">
											<span><img src="img/tooth.png" alt="" title=""></span>
											<h3>Implante Dental</h3>
										</div>
										<p>Paciente é uma informação obtida por um médico, fazendo perguntas específicas, seja do paciente.</p>
										<a href="" class="wsg-link">Veja Mais <span class="flaticon-next"></span></a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>

					<div class="wsg-04_carousel-item">
						<div class="wsg-04_box">
							<figure>
								<img src="img/wsg-04.jpg" alt="" title="">
								<figcaption>
									<div class="wsg-04_conteudo">
										<div class="wsg-flex">
											<span><img src="img/people.png" alt="" title=""></span>
											<h3>Implante Dental</h3>
										</div>
										<p>Paciente é uma informação obtida por um médico, fazendo perguntas específicas, seja do paciente.</p>
										<a href="" class="wsg-link">Veja Mais <span class="flaticon-next"></span></a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>

					<div class="wsg-04_carousel-item">
						<div class="wsg-04_box">
							<figure>
								<img src="img/wsg-04.jpg" alt="" title="">
								<figcaption>
									<div class="wsg-04_conteudo">
										<div class="wsg-flex">
											<span><img src="img/button.png" alt="" title=""></span>
											<h3>Implante Dental</h3>
										</div>
										<p>Paciente é uma informação obtida por um médico, fazendo perguntas específicas, seja do paciente.</p>
										<a href="" class="wsg-link">Veja Mais <span class="flaticon-next"></span></a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="wsg-05">
			<div class="wsg-container">
				<div class="wsg-cto">
					<h2 class="wsg-titulo_1">Nossos médicos</h2>
					<p>A equipe mais qualificada, habilidosa e profissional.</p>
				</div>
			

				<div class="wsg-05-carousel">

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>

					<div class="wsg-05-carousel_item">
						<div class="wsg-05_box">
							<a href=""><figure>
								<img src="img/wsg-05.jpg" alt="" title="">
							</figure></a>
							<div class="wsg-05-conteudo">
								<h2><a href="">Jennifer Frank</a></h2>
								<h3><a href="">Cardiologia</a></h3>
							</div>
							<span class="flaticon-phone-2">+55 99 9999 9999</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="wsg-06" style="background-image: url(img/bgc-06.jpg);">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-7">
						<div class="wsg-06_box">
							<h2 class="wsg-titulo_2">Focado em você.</h2>
							<h3>Cuidado de confiança.</h3>
							<p>Construindo um ambiente saudável que apóia o desenvolvimento para a comunidade. Seu gerente de caso pessoal irá garantir que você receba o melhor atendimento possível.</p>
						</div>
						<a href="" class="wsg-btn_estilo-3"><span>Veja outros serviços</span> <span class="flaticon-next"></span></a>
					</div>
				</div>
			</div>
		</section>

		<section class="wsg-07">
			<div class="wsg-container">
				<div class="wsg-cto">
					<h2 class="wsg-titulo_1">Depoimentos</h2>
				</div>

				<div class="wsg-07_carousel">

					<div class="wsg-07_carousel-item">
						<div class="wsg-07_item">
							<div class="wsg-flex">
								<figure>
									<img src="img/wsg-07.jpg" alt="" title="">
								</figure>
								<div class="wsg-07_conteudo">
									<p>Cure é o tema médico mais avançado e fácil de usar já construído em 2017.</p>

									<h2>Adriana Shephard</h2>
									<h4>Paciente</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="wsg-07_carousel-item">
						<div class="wsg-07_item">
							<div class="wsg-flex">
								<figure>
									<img src="img/wsg-07.jpg" alt="" title="">
								</figure>
								<div class="wsg-07_conteudo">
									<p>Cure é o tema médico mais avançado e fácil de usar já construído em 2017.</p>

									<h2>Adriana Shephard</h2>
									<h4>Paciente</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="wsg-07_carousel-item">
						<div class="wsg-07_item">
							<div class="wsg-flex">
								<figure>
									<img src="img/wsg-07.jpg" alt="" title="">
								</figure>
								<div class="wsg-07_conteudo">
									<p>Cure é o tema médico mais avançado e fácil de usar já construído em 2017.</p>

									<h2>Adriana Shephard</h2>
									<h4>Paciente</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="wsg-07_carousel-item">
						<div class="wsg-07_item">
							<div class="wsg-flex">
								<figure>
									<img src="img/wsg-07.jpg" alt="" title="">
								</figure>
								<div class="wsg-07_conteudo">
									<p>Cure é o tema médico mais avançado e fácil de usar já construído em 2017.</p>

									<h2>Adriana Shephard</h2>
									<h4>Paciente</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="wsg-07_carousel-item">
						<div class="wsg-07_item">
							<div class="wsg-flex">
								<figure>
									<img src="img/wsg-07.jpg" alt="" title="">
								</figure>
								<div class="wsg-07_conteudo">
									<p>Cure é o tema médico mais avançado e fácil de usar já construído em 2017.</p>

									<h2>Adriana Shephard</h2>
									<h4>Paciente</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="wsg-07_carousel-item">
						<div class="wsg-07_item">
							<div class="wsg-flex">
								<figure>
									<img src="img/wsg-07.jpg" alt="" title="">
								</figure>
								<div class="wsg-07_conteudo">
									<p>Cure é o tema médico mais avançado e fácil de usar já construído em 2017.</p>

									<h2>Adriana Shephard</h2>
									<h4>Paciente</h4>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="wsg-08">
			<div class="wsg-container">
				<div class="wsg-cto">
					<h2 class="wsg-titulo_1">Histórias mais recentes</h2>
				</div>

				<div class="wsg-08_item">
					<div class="wsg-flex">

						<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-4">
							<div class="wsg-08_box">
								<a href="blog-interna.html">
									<figure>
										<img src="img/wsg-08.jpg" alt="">
										<figcaption>
											<span>COMA BEM</span>
										</figcaption>
									</figure>
								</a>

								<div class="wsg-08_conteudo">
									<data value="03">03/05/2018</data>
									<h3><a href="blog-interna.html">Magnésio pode prevenir fraturas</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
								</div>
							</div>
						</div>

						<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-4">
							<div class="wsg-08_box">
								<a href="blog-interna.html">
									<figure>
										<img src="img/wsg-08.jpg" alt="">
										<figcaption>
											<span>COMA BEM</span>
										</figcaption>
									</figure>
								</a>

								<div class="wsg-08_conteudo">
									<data value="03">03/05/2018</data>
									<h3><a href="blog-interna.html">Magnésio pode prevenir fraturas</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
								</div>
							</div>
						</div>
						
						<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-6 wsg-box_tl-4">
							<div class="wsg-08_box">
								<a href="blog-interna.html">
									<figure>
										<img src="img/wsg-08.jpg" alt="">
										<figcaption>
											<span>COMA BEM</span>
										</figcaption>
									</figure>
								</a>

								<div class="wsg-08_conteudo">
									<data value="03">03/05/2018</data>
									<h3><a href="blog-interna.html">Magnésio pode prevenir fraturas</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section class="wsg-09">
			<div class="wsg-container">
				<div class="wsg-cto">
					<h2 class="wsg-titulo_1">Nossos parceiros</h2>
				</div>

				<div class="wsg-09_carousel">
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
					<figure>
						<img src="img/parceiros.png" alt="" title="">
					</figure>
				</div>
			</div>
		</section>

		<section class="wsg-cta">
			<div class="wsg-container">
				<div class="wsg-flex">
					<h2>O médico mais qualificado, hábil e profissional</h2>
					<a href="contato.html" class="wsg-btn wsg-estilo_3">Contate-nos</a>
				</div>
			</div>
		</section>

		<footer class="wsg-footer">
			<div class="wsg-footer_top">
				<div class="wsg-container">
					<div class="wsg-flex">
						<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-4">
							<a href="index.html" class="wsg-logo">
								<figure>
									<img src="img/logo.png" alt="" title="">
								</figure>
							</a>

							<p>Cure é um tema médico especializado em saúde, odontologia, hospital, clínica, médicos e veterinária.</p>

							<ul class="wsg-mideas-sociais wsg-lista-inline">
								<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
								<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
								<li><a href="" target="_blank" class="flaticon-whatsapp"></a></li>
								<li><a href="" target="_blank" class="flaticon-google-plus"></a></li>
							</ul>
						</div>
						<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-3">
							<h3>Links Úteis</h3>

							<ul class="wsg-links-uteis">
								<li class="flaticon-next"><a href="index.html">home</a></li>
								<li class="flaticon-next"><a href="empresa.html">empresa</a></li>
								<li class="flaticon-next"><a href="servicos.html">serviços</a></li>
								<li class="flaticon-next"><a href="blog.html">blog</a></li>
								<li class="flaticon-next"><a href="contato.html">contato</a></li>
							</ul>
						</div>
						<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-5">
							<h3>Onde estamos</h3>

							<p>Obtenha aconselhamento de confiança dos médicos da Medical Cure e mantenha-se atualizado.

							<div class="wsg-footer_contato"><span class="flaticon-phone-2"></span><p>Ligue para nós:<a href="" target="_blank">+55 99 9999 9999</a></div>

							<div class="wsg-footer_contato"><span class="flaticon-mail-2"></span><p>Mande-nos um e-mail:<a href="" target="_blank">Exemplo@gmail.com</a></p></div>

							<div class="wsg-footer_contato"><span class="flaticon-local-2"></span><p>Example Road, 383</p></div>

							<div class="wsg-footer_contato"><span class="flaticon-clock"></span><p>Seg-Sex: 8:00 - 19:00, Domingo: Fechado</p></div>
						</div>
					</div>
				</div>
			</div>

			<div class="wsg-footer_bottom">
				<div class="wsg-container">
					<div class="wsg-flex">
						<p>2018 - Todos os direitos reservados.</p>
						<p>Produzido por <a href="" target="_blank">Websitesgoiás</a></p>
					</div>
				</div>
			</div>
			
		</footer>

	</body>
</html>
<!-- wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-12f wsg-box_tl-12f -->
<!-- wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-12 -->